.cajaside {
    border: solid rgb(247, 245, 245);
}

.reparto {
    width: 60%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 2fr);
    gap: 20px;
    position: relative;
    left: 5%;
}

.trailers {
    position: relative;
    left: 20%;
}