@media screen and (max-width: 720px) {
    footer {
        margin: auto;
    }
    .kaiak {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .medioinfofase1 {
        width: 80%;
        background-color: $bg_oscuro;
        margin: auto;
        position: relative;
        right: auto;
    }
    aside {
        width: 80%;
        background-color: $bg_oscuro;
        margin: auto;
        position: relative;
        right: auto;
    }
    .imgaside {
        width: 200px;
        margin-top: 5px;
        position: relative;
    }
    .recaudacion {
        list-style: none;
    }
}

@media screen and (max-width:720px) {
    .mediofase3 {
        background-color: $bg_oscuro;
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .imgfase3 {
        position: relative;
        left: 6%;
    }
    .pelifase1 {
        width: 200px;
    }
}

@media screen and (max-width:720px) {
    .pelifase1 {
        transition: all 2s ease;
        border: solid rgb(253, 253, 253);
        box-shadow: black 1px 5px 25px;
        border-radius: 20px;
        &:hover {
            transform: scale(1.0, 1.0);
        }
    }
}

@media screen and (max-width:720px) {
    .imgfase1 {
        position: relative;
        left: auto;
    }
}