$bg_claro:#3f3f3f;
$bg_oscuro:#610f0fd3;
$color1:#ffffff;
@import "body";
@import "header";
@import "fuentes";
@import "medioindex";
@import "fases";
@import "infofases";
@import "vistamobile";
@import "footer";
@mixin estilocaja ($color, $bg) {
    background-color: $bg_oscuro;
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.mediofases {
    @include estilocaja($color1, $bg_oscuro)
}

@mixin imgenesprimerasdosfases {
    position: relative;
    left: 20%;
}

.imgfase1 {
    @include imgenesprimerasdosfases()
}

@mixin fase1y2mobile {
    background-color: #0000008f;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

@media screen and (max-width:720px) {
    .mediofases {
        @include fase1y2mobile()
    }
}

@mixin aside {
    width: 20%;
    background-color: #0000008f;
    float: right;
    position: relative;
    right: 3%;
}

@mixin asidemobile {
    width: 80%;
    background-color: $bg_oscuro;
    margin: auto;
    position: relative;
    right: auto;
}

aside {
    @include aside()
}

@media screen and (max-width:720px) {
    aside {
        @include asidemobile()
    }
}

@mixin recaudacion {
    position: relative;
    right: 25px;
    list-style: none;
}

@mixin recaudacionmobile {
    list-style: none;
}

.recaudacion {
    @include recaudacion()
}

@media screen and (max-width:720px) {
    .recaudacion {
        @include recaudacionmobile()
    }
}

@mixin imgaside {
    margin-top: 10px;
    position: relative;
    left: 10%;
    border: solid rgb(253, 253, 253);
    box-shadow: rgb(0, 0, 0) 1px 5px 25px;
}

@mixin imgasidemobile {
    width: 200px;
    margin-top: 5px;
    position: relative;
}

.imgaside {
    @include imgaside()
}

@media screen and (max-width:720px) {
    .imgaside {
        @include imgasidemobile()
    }
}

@mixin medioinfofase1 {
    width: 70%;
    background-color: #0000008f;
    margin: auto;
    position: relative;
    right: 10%;
}

@mixin medioinfofase1mobile {
    width: 80%;
    background-color: $bg_oscuro;
    margin: auto;
    position: relative;
    right: auto;
}

.medioinfofase1 {
    @include medioinfofase1()
}

@media screen and (max-width:720px) {
    .medioinfofase1 {
        @include medioinfofase1mobile()
    }
}

@mixin reparto {
    width: 60%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 2fr);
    gap: 20px;
    position: relative;
    left: 5%;
}

.reparto {
    @include reparto()
}